<mat-drawer-container class="maincontainer" autosize>
  <mat-drawer #drawer class="sidenavMain" mode="side">
    <div class="sideNavHeading">
      <div class="BrandLogo">GAYA</div>
    </div>
    <div class="sideNavMenuBtn">
        <button mat-raised-button class="sidenav-button" routerLink="home">Home</button>
        <button mat-raised-button class="sidenav-button" routerLink="gallery">Gallery</button>
        <button mat-raised-button class="sidenav-button" routerLink="videos">Videos</button>
        <button mat-raised-button class="sidenav-button" >Images</button>
    </div>
  </mat-drawer>
 
  <div class="mainSideNavContainer">
    <mat-toolbar class="MenuCloseBtn" color="primary">
   
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
     
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mainContainerContent">
      <router-outlet>

      </router-outlet>
    </div>
  </div>
</mat-drawer-container>
